.baner
    background: url('../img/baner-bg.jpg') no-repeat
    background-position-x: center
    background-size: cover
    padding-bottom: 60px
    overflow: hidden
    min-height: 100vh
    display: flex
    align-items: center
    padding: 40px 0
    &__hero
        display: flex
        justify-content: space-between
        align-items: center
    &__content
        margin-right: 30px
    &__text
        font-weight: 500
        font-size: 20px
        line-height: 120%
        letter-spacing: 0.01em
        color: rgba(255, 255, 255, 0.9)
        margin-bottom: 20px
    &__title
        font-weight: 800
        font-size: 90px
        line-height: 100%
        letter-spacing: -0.01em
        text-transform: uppercase
        color: #FFFFFF
        text-shadow: 0px 1px 11px #FFA200, 0px 0px 8px #FFC000, 0px -1px 2px #FFFA00, 0px 1px 4px #FF8700
        margin-bottom: 20px
    &__subtitle
        font-weight: 700
        font-size: 24px
        line-height: 120%
        letter-spacing: 0.01em
        color: #FFFFFF
        margin-bottom: 34px
    &::after
        content: ''
        position: absolute
        bottom: 0
        left: 0
        right: 0
        width: 100%
        height: 600px
        background: linear-gradient(180deg, rgba(20, 19, 81, 0) 37.92%, #141351 100%)
        z-index: 2
        pointer-events: none


.spinner
    position: relative
    min-width: 560px
    height: 560px
    display: flex
    justify-content: center
    align-items: center
    z-index: 2
    &__bg
        position: absolute
        width: 100%
        height: 100%
    &__hero
        width: 465px
        height: 465px
        transition: transform 4s ease-in-out 0s
        transform: rotate(0deg)
    &__pointer
        position: absolute
        top: 21px
        left: 50%
        transform: translate(-40%, 0)
        width: 55px
    &__btn-wrap
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
    &__btn
        background: url('../img/wheel/btn.png') no-repeat
        background-size: 100% 100%
        width: 96px
        height: 96px
        border-radius: 50%
    &::before
        content: ''
        position: absolute
        width: 160%
        height: 160%
        top: -32%
        bottom: 0
        left: -26%
        right: 0
        background: url('../img/wheel/sparkles.png') no-repeat
        background-size: 100% 100%
        opacity: 0
        transition: opacity .6s ease
        pointer-events: none

#spinner.spinning .spinner__hero
    transform: rotate(60deg)

.select
    position: relative
    margin-right: 12px
    cursor: pointer
    &__val
        color: rgba(255, 255, 255, 0.6)
        &.selected
            color: #fff
    &.error
        border: 1px solid #FE333C
    &__icon
        position: absolute
        cursor: pointer
        right: 16px
        top: 16px
        transform: rotate(0deg)
        transition: transform .3s ease
    &__list
        position: absolute
        top: 103%
        left: 0
        right: 0
        border-radius: 4px
        background-color: rgba(255, 255, 255, 0.2)
        z-index: 2
        transform: translateY(-5px)
        opacity: 0
        pointer-events: none
        backdrop-filter: blur(4px)
        transition: opacity .3s ease, transform .3s ease
        max-height: 190px
        overflow-y: scroll
        & li
            padding: 14px 16px
            cursor: pointer
            color: rgba(255, 255, 255, 0.6)
            transition: color .2s ease
            &:hover
                color: rgba(255, 255, 255, 1)
    &.opened 
        & .select__list
            transform: translateY(0px)
            opacity: 1
            pointer-events: all
        & .select__icon
            transform: rotate(180deg)
