.baner
    background: url('../img/baner-bg.jpg') no-repeat
    background-position-x: center
    background-size: cover
    padding-bottom: 60px
    overflow: hidden
    &__logo
        padding: 50px 0 38px
        margin: 0 auto
        display: flex
        justify-content: center
        align-items: center
        & img
            width: 120px
    &__title
        font-weight: 800
        font-size: 40px
        text-align: center
        letter-spacing: 0.01em
        text-transform: uppercase
        color: #FFFFFF
        max-width: 792px
        margin: 0 auto
    &::after
        content: ''
        position: absolute
        bottom: 0
        left: 0
        right: 0
        width: 100%
        height: 295px
        background: linear-gradient(180deg, rgba(4, 34, 152, 0) 0%, rgba(4, 34, 152, 0.87) 71.76%, #042298 100%)
        z-index: 2
        pointer-events: none
    &__tree
        position: absolute
        left: 50%
        bottom: 0
        transform: translate(-100%, 30px)
        z-index: 1
        pointer-events: none
    &__santa
        position: absolute
        right: 50%
        bottom: 0
        transform: translateX(135%)
        z-index: 2
        pointer-events: none

.spinner
    position: relative
    width: 655px
    height: 655px
    margin: 30px auto 0px
    display: flex
    justify-content: center
    align-items: center
    z-index: 2
    &__bg
        position: absolute
        width: 100%
        height: 100%
    &__hero
        width: 573px
        height: 573px
        transition: transform 3s cubic-bezier(.35,.79,.41,.98)
        transform: rotate(0deg)
    &__pointer
        position: absolute
        top: -15px
        left: 50%
        transform: translate(-50%, 0)
        width: 105px
    &__btn-wrap
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
    &__btn
        background: url('../img/spinner/button.png') no-repeat
        background-size: 100% 100%
        width: 185px
        height: 185px
        border-radius: 50%
        font-family: 'Inter'
        font-style: normal
        font-weight: 900
        font-size: 40px
        line-height: 110%
        text-align: center
        display: flex
        justify-content: center
        align-items: center
        letter-spacing: 0.04em
        text-transform: uppercase
        color: #FFFFFF
        transition: width .9s, height .9s
    &::before
        content: ''
        position: absolute
        width: 160%
        height: 160%
        top: -32%
        bottom: 0
        left: -26%
        right: 0
        background: url('../img/spinner/sparkles.png') no-repeat
        background-size: 100% 100%
        opacity: 0
        transition: opacity .6s ease
        pointer-events: none

#spinner.spinning .spinner__hero
    transform: rotate(660deg)

#spinner.spinned:before
    opacity: 1

.spinner__btn.spinned
    width: 220px
    height: 220px
    animation: .6s ease-in-out .9s infinite alternate pulsing

@keyframes pulsing
    0%
        transform: scale(1)
    100%
        transform: scale(0.9)


@media screen and (max-width: 1240px)
    .baner
        &__tree
            transform: translate(-90%, 30px)
        &__santa
            width: 500px

@media screen and (max-width: 1024px)
    .baner
        padding-bottom: 400px
        &__santa
            transform: translateX(110%)
        &__tree
            width: 1000px
            transform: translate(-85%, 30px)

@media screen and (max-width: 860px)
    .baner
        &__tree
            width: 1075px
            transform: translate(-79%, 30px)
        &__title
            font-size: 32px
        &__logo 
            padding: 36px 0 28px
            & img
                width: 100px
    .spinner
        margin: 40px auto 0px
        &__btn
            font-size: 32px

@media screen and (max-width: 768px)
    .spinner
        width: 75vw
        height: 75vw
        &__hero
            width: 66vw
            height: 66vw
        &__btn
            width: 24vw
            height: 24vw
        &__pointer
            width: 13vw
    .spinner__btn.spinned
        width: 28.5vw
        height: 28.5vw
    .baner
        padding-bottom: 300px
        &__santa
            transform: translate(95%, 20%)
        &__tree
            width: 120vw

@media screen and (max-width: 700px)
    .baner
        &__tree
            width: 125vw

@media screen and (max-width: 600px)
    .spinner
        width: 85vw
        height: 85vw
        &__hero
            width: 74vw
            height: 74vw
        &__pointer
            width: 14vw
        &__btn
            font-size: 28px
    .baner
        padding-bottom: 200px
        &__santa
            width: 400px
            transform: translate(92%, 28%)
        &__title
            font-size: 28px
        &__logo img
            width: 80px

@media screen and (max-width: 550px)
    .baner
        &__tree
            width: 130vw

@media screen and (max-width: 500px)
    .baner
        &__santa
            width: 350px
            transform: translate(95%, 20%)
        &__tree
            width: 135vw

@media screen and (max-width: 425px)
    .baner
        &__santa
            width: 300px
            transform: translate(95%, 13%)
        &__tree
            width: 145vw
            transform: translate(-76%, 30px)
        &__title
            font-size: 20px
        &__logo 
            padding: 20px 0 26px
            & img
                width: 60px
        &::after
            height: 195px
    .spinner
        &__pointer
            top: -10px
        &__btn
            font-size: 20px

@media screen and (max-width: 375px)
    .baner
        padding-bottom: 160px
        &__santa
            width: 250px
            transform: translate(95%, 13%)
    .spinner__btn.spinned
        font-size: 18px