.details
    padding: 100px 100px 30px
    &__list
        display: flex
        justify-content: space-between
        align-items: stretch
        flex-wrap: wrap
        width: calc(100% + 60px)
        transform: translateX(-30px)
        margin-bottom: 105px
    &__item-wrap
        padding: 0 30px
        flex-basis: 33.33%
        min-height: 100%
    &__item
        background: rgba(255, 255, 255, 0.06)
        border: 3px solid #FFFFFF
        border-radius: 30px
        display: flex
        align-items: center
        color: #FFFFFF
        padding: 29px 55px
        height: 100%
    &__num
        font-weight: 900
        font-size: 120px
        line-height: 110%
        text-transform: uppercase
        margin-right: 22px
    &__content
    &__step-name
        font-weight: 900
        font-size: 30px
        line-height: 110%
        text-align: center
        text-transform: uppercase
    &__step-descr
        font-weight: 500
        font-size: 18px
        line-height: 110%
        text-align: center
    &__btn
        padding: 7px 39px 8px
        background: #EB4846
        border-radius: 10px
        color: #fff
        font-weight: 900
        font-size: 18px
        line-height: 133%
        letter-spacing: 0.01em
        display: block
        max-width: 220px
        height: 53px
        display: flex
        align-items: center
        justify-content: center
        margin: auto
        margin-bottom: 105px
        &:hover
            background: darken(#EB4846, 10%)

.terms-container
    max-width: 1160px
    margin: 0 auto
.terms
    max-width: 730px
    &__title
        font-weight: 800
        font-size: 24px
        line-height: 140%
        color: #FFFFFF
        margin-bottom: 30px
    &__list
    &__item
        position: relative
        padding-left: 20px
        font-size: 16px
        line-height: 150%
        color: rgba(255, 255, 255, 0.75)
        margin-bottom: 12px
        &::before
            content: ''
            position: absolute
            width: 2px
            height: 2px
            background: rgba(255, 255, 255, 0.75)
            left: 9px
            top: 11px
    &__more
        display: flex
        align-items: center
        margin-top: 20px
        cursor: pointer
        & span
            font-weight: 800
            font-size: 16px
            line-height: 140%
            color: rgba(255, 255, 255, 0.75)
            margin-right: 10px
    &__shevron
        transform: rotate(0)
        transition: transform .3s ease


@media screen and (max-width: 1630px)
    .details
        padding: 100px 60px 30px
        &__item
            padding: 25px 35px
        &__num
            font-size: 110px

@media screen and (max-width: 1440px)
    .details
        &__list
            width: calc(100% + 30px)
            transform: translateX(-15px)
        &__item-wrap
            padding: 0 15px
        &__item
            padding: 25px
        &__num
            font-size: 90px
            margin-right: 14px
        &__step-name
            font-size: 23px
        &__step-descr
            font-size: 16px

@media screen and (max-width: 1150px)
    .details
        padding: 100px 30px 30px

@media screen and (max-width: 1024px)
    .details
        &__list
            flex-direction: column
            width: 100%
            transform: translateX(0)
        &__item-wrap
            padding: 0
            flex-basis: 100%
            max-width: 460px
            margin: auto
            margin-bottom: 30px

@media screen and (max-width: 768px)
    .details
        &__btn
            display: none

@media screen and (max-width: 425px)
    .details
        padding: 100px 17px 30px
        &__item-wrap
            width: 100%
            margin-bottom: 18px
        &__item
            padding: 12px 5px 12px 12px
            border-radius: 20px
        &__num
            font-size: 60px
        &__step-name
            font-size: 18px
        &__step-descr
            font-size: 14px
    .terms
        &__title
            font-size: 28px
            margin-bottom: 25px
        &__item
            font-size: 14px