.spinner
    position: relative
    width: 665px
    height: 665px
    display: flex
    justify-content: center
    align-items: center
    margin: 0 auto
    filter: drop-shadow(0px 4px 100px #FFEAFF)
    margin-bottom: 40px
    z-index: 2
    &__bg
        position: absolute
        width: 100%
        height: 100%
    &__hero
        width: 585px
        height: 585px
        transition: transform 6s ease 0s
        transform: rotate(0deg)
        cursor: pointer
        margin-right: 10px
    &__pointer
        position: absolute
        top: 18px
        left: 50%
        transform: translate(-45%, -15px)
        width: 100px
        z-index: 2
    &__section
        position: absolute
        top: 0
        left: 50%
        transform: translate(-44%, 0px)
        z-index: 1
        pointer-events: none
    &__btn-wrap
        cursor: pointer
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        &.spinned
            animation: pulsing 0.6s ease-in-out infinite alternate
            transform-origin: 10% 10%
            z-index: 1 
    &__btn
        background: url('../img/wheel/btn.png') no-repeat
        background-size: 100% 100%
        width: 200px
        height: 200px
        border-radius: 50%
        font-family: 'Inter'
        font-style: normal
        font-weight: 900
        font-size: 40px
        line-height: 110%
        text-align: center
        text-transform: uppercase
        color: #B3385E
        transition: background .3s ease, color .2s ease
        &:visited
            color: #B3385E
        &:hover
            background: url('../img/wheel/btn-hover.png') no-repeat
            background-size: 100% 100%
            color: #fff
        &:active
            background: url('../img/wheel/btn-active.png') no-repeat
            background-size: 100% 100%
            color: #fff
        &.spinned
            font-size: 34px

#spinner.spinning .spinner__hero
    transform: rotate(2428deg) //268
@media screen and (max-width: 1630px)
    .spinner
        width: 58vh
        height: 58vh
        margin-bottom: 20px
        filter: drop-shadow(0px 3.4px 85px #FFEAFF)
        &__hero
            width: 51vh
            height: 51vh
        &__pointer
            width: 9vh
        &__section
            width: 17vh
        &__btn
            width: 16vh
            height: 16vh
            font-size: 32px
            &.spinned
                font-size: 22px

@media screen and (max-width: 1240px)
    .spinner
        width: 450px
        height: 450px
        filter: drop-shadow(0px 2.75px 68px #FFEAFF)
        &__hero
            width: 395px
            height: 395px
        &__pointer
            width: 65px
        &__section
            width: 128px
        &__btn
            width: 130px
            height: 130px
            font-size: 27px
            &.spinned
                font-size: 22px

@media screen and (max-width: 960px)
    .spinner
        width: 350px
        height: 350px
        filter: drop-shadow(0px 2px 50px #FFEAFF)
        &__hero
            width: 305px
            height: 305px
            margin-right: 6px
        &__pointer
            width: 50px
        &__section
            width: 100px
            transform: translate(-45%, 0px)
        &__btn
            width: 100px
            height: 100px
            font-size: 21px
            &.spinned
                font-size: 17px

@media screen and (max-width: 375px)
    .spinner
        width: calc( 100vw - 30px )
        height: calc( 100vw - 30px )
        filter: drop-shadow(0px 1.6px 40px #FFEAFF)
        &__hero
            width: calc( 100vw - 65px )
            height: calc( 100vw - 65px )
            margin-right: 4px
        &__pointer
            width: 13vw
        &__section
            width: 27vw
        &__btn
            width: 23vw
            height: 23vw
            font-size: 16px
            &.spinned
                font-size: 13px

@keyframes pulsing
    0%
        transform: scale(0.98) translate(-50%, -50%)
    100%
        transform: scale(1.02) translate(-50%, -50%)