*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a, a:visited {
  text-decoration: none;
  color: #fff;
}

body {
  line-height: 1.2;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: #a54971;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1160px;
}

.section {
  width: 100%;
  position: relative;
}

.btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  display: block;
  cursor: pointer;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.d-none {
  display: none !important;
}

.no-events {
  pointer-events: none;
}

.overflow-hidden {
  overflow: hidden;
}

.heart {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

@media screen and (max-width: 425px) {
  .container {
    padding: 0 17px;
  }
}

.baner {
  background: url("../img/bg.jpg") no-repeat;
  background-position-x: center;
  background-size: cover;
  min-height: 100vh;
  padding: 30px 0 20px;
  overflow: hidden;
}

.baner__logo {
  display: block;
  margin: auto;
  width: 120px;
  margin-bottom: 50px;
}

.baner__title {
  font-weight: 800;
  font-size: 35px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 800px;
}

.baner__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

.baner__partner {
  margin: 0 25px;
}

.baner::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 133, 228, 0.2);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  pointer-events: none;
}

.baner::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 400px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(13.9%, #B45478), color-stop(35.49%, rgba(180, 84, 120, 0.86)), color-stop(50.97%, rgba(180, 84, 120, 0.66)), color-stop(71.12%, rgba(180, 84, 120, 0.363147)), to(rgba(180, 84, 120, 0)));
  background: linear-gradient(0deg, #B45478 13.9%, rgba(180, 84, 120, 0.86) 35.49%, rgba(180, 84, 120, 0.66) 50.97%, rgba(180, 84, 120, 0.363147) 71.12%, rgba(180, 84, 120, 0) 100%);
  z-index: 1;
  pointer-events: none;
}

.baner__angel1 {
  position: absolute;
  left: 0;
  top: 0;
  background: url("../img/angel-1.png") no-repeat;
  background-size: cover;
  width: 28vw;
  height: 30vw;
  pointer-events: none;
}

.baner__angel2 {
  position: absolute;
  right: 0;
  top: 0;
  background: url("../img/angel-2.png") no-repeat;
  background-size: cover;
  width: 26vw;
  height: 52vw;
  pointer-events: none;
}

.baner__angel3 {
  position: absolute;
  left: 0;
  bottom: 0;
  background: url("../img/angel-3.png") no-repeat;
  background-size: cover;
  width: 30vw;
  height: 25vw;
  pointer-events: none;
}

@media screen and (max-width: 1630px) {
  .baner__title {
    font-size: 29px;
    max-width: 675px;
  }
  .baner__logo {
    width: 100px;
    margin-bottom: 44px;
  }
  .baner::after {
    height: 300px;
  }
  .baner__partner {
    margin: 0 20px;
  }
  .baner-visa {
    width: 65px;
  }
  .baner-mc {
    width: 52px;
  }
  .baner-mifinity {
    width: 52px;
  }
  .baner-scrill {
    width: 63px;
  }
  .baner-geton {
    width: 94px;
  }
  .baner-wallet {
    width: 127px;
  }
  .baner-btc {
    width: 80px;
  }
  .baner-eth {
    width: 104px;
  }
  .baner__angel3 {
    width: 27vw;
    height: 20vw;
  }
}

@media screen and (max-width: 1240px) {
  .baner__title {
    font-size: 27px;
    max-width: 605px;
  }
  .baner__logo {
    width: 92px;
    margin-bottom: 40px;
  }
  .baner__angel3 {
    left: -8vw;
    width: 38vw;
    height: 31vw;
  }
  .baner__partner {
    margin: 0 18px;
  }
  .baner-visa {
    width: 58px;
  }
  .baner-mc {
    width: 47px;
  }
  .baner-mifinity {
    width: 47px;
  }
  .baner-scrill {
    width: 56px;
  }
  .baner-geton {
    width: 84px;
  }
  .baner-wallet {
    width: 114px;
  }
  .baner-btc {
    width: 71px;
  }
  .baner-eth {
    width: 94px;
  }
}

@media screen and (max-width: 1120px) {
  .baner__title {
    font-size: 24px;
    max-width: 490px;
  }
  .baner__partner {
    margin: 0 14px;
  }
  .baner-visa {
    width: 45px;
  }
  .baner-mc {
    width: 36px;
  }
  .baner-mifinity {
    width: 36px;
  }
  .baner-scrill {
    width: 43px;
  }
  .baner-geton {
    width: 65px;
  }
  .baner-wallet {
    width: 88px;
  }
  .baner-btc {
    width: 55px;
  }
  .baner-eth {
    width: 72px;
  }
}

@media screen and (max-width: 1024px) {
  .baner__angel1 {
    width: 26vw;
    height: 28vw;
  }
}

@media screen and (max-width: 960px) {
  .baner__logo {
    margin-bottom: 30px;
    width: 71px;
  }
  .baner__title {
    font-size: 20px;
    max-width: 460px;
  }
  .baner__angel2 {
    height: 65vw;
    width: 30vw;
  }
  .baner::after {
    height: 200px;
  }
}

@media screen and (max-width: 768px) {
  .baner {
    padding-bottom: 0;
  }
  .baner__angel2 {
    height: 60vw;
    right: -3vw;
  }
  .baner__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .baner__partner {
    margin-bottom: 18px;
  }
}

@media screen and (max-width: 600px) {
  .baner__angel2 {
    display: none;
  }
  .baner__angel1 {
    background: url("../img/angel-1-mob.png") no-repeat;
    background-size: cover;
    width: 130px;
    height: 220px;
  }
  .baner__angel3 {
    background: url("../img/angel-2-mob.png") no-repeat;
    background-size: cover;
    left: auto;
    right: 0;
    width: 175px;
    height: 250px;
  }
}

@media screen and (max-width: 425px) {
  .baner__logo {
    width: 60px;
    margin-bottom: 45px;
  }
  .baner__title {
    font-size: 20px;
    max-width: 290px;
  }
  .baner__angel1 {
    width: 120px;
    height: 200px;
  }
  .baner__angel3 {
    width: 150px;
    height: 200px;
  }
  .baner::after {
    height: 100px;
  }
  .baner__partner {
    margin: 0 7px;
    margin-bottom: 17px;
  }
  .baner-visa {
    width: 42px;
  }
  .baner-mc {
    width: 34px;
  }
  .baner-mifinity {
    width: 34px;
  }
  .baner-scrill {
    width: 40px;
  }
  .baner-geton {
    width: 60px;
  }
  .baner-wallet {
    width: 82px;
  }
  .baner-btc {
    width: 51px;
  }
  .baner-eth {
    width: 67px;
  }
  .heart {
    width: 12px;
    height: 12px;
  }
}

.spinner {
  position: relative;
  width: 665px;
  height: 665px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -webkit-filter: drop-shadow(0px 4px 100px #FFEAFF);
          filter: drop-shadow(0px 4px 100px #FFEAFF);
  margin-bottom: 40px;
  z-index: 2;
}

.spinner__bg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.spinner__hero {
  width: 585px;
  height: 585px;
  -webkit-transition: -webkit-transform 6s ease 0s;
  transition: -webkit-transform 6s ease 0s;
  transition: transform 6s ease 0s;
  transition: transform 6s ease 0s, -webkit-transform 6s ease 0s;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  cursor: pointer;
  margin-right: 10px;
}

.spinner__pointer {
  position: absolute;
  top: 18px;
  left: 50%;
  -webkit-transform: translate(-45%, -15px);
          transform: translate(-45%, -15px);
  width: 100px;
  z-index: 2;
}

.spinner__section {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-44%, 0px);
          transform: translate(-44%, 0px);
  z-index: 1;
  pointer-events: none;
}

.spinner__btn-wrap {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.spinner__btn-wrap.spinned {
  -webkit-animation: pulsing 0.6s ease-in-out infinite alternate;
          animation: pulsing 0.6s ease-in-out infinite alternate;
  -webkit-transform-origin: 10% 10%;
          transform-origin: 10% 10%;
  z-index: 1;
}

.spinner__btn {
  background: url("../img/wheel/btn.png") no-repeat;
  background-size: 100% 100%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 110%;
  text-align: center;
  text-transform: uppercase;
  color: #B3385E;
  -webkit-transition: background .3s ease, color .2s ease;
  transition: background .3s ease, color .2s ease;
}

.spinner__btn:visited {
  color: #B3385E;
}

.spinner__btn:hover {
  background: url("../img/wheel/btn-hover.png") no-repeat;
  background-size: 100% 100%;
  color: #fff;
}

.spinner__btn:active {
  background: url("../img/wheel/btn-active.png") no-repeat;
  background-size: 100% 100%;
  color: #fff;
}

.spinner__btn.spinned {
  font-size: 34px;
}

#spinner.spinning .spinner__hero {
  -webkit-transform: rotate(2428deg);
          transform: rotate(2428deg);
}

@media screen and (max-width: 1630px) {
  .spinner {
    width: 58vh;
    height: 58vh;
    margin-bottom: 20px;
    -webkit-filter: drop-shadow(0px 3.4px 85px #FFEAFF);
            filter: drop-shadow(0px 3.4px 85px #FFEAFF);
  }
  .spinner__hero {
    width: 51vh;
    height: 51vh;
  }
  .spinner__pointer {
    width: 9vh;
  }
  .spinner__section {
    width: 17vh;
  }
  .spinner__btn {
    width: 16vh;
    height: 16vh;
    font-size: 32px;
  }
  .spinner__btn.spinned {
    font-size: 22px;
  }
}

@media screen and (max-width: 1240px) {
  .spinner {
    width: 450px;
    height: 450px;
    -webkit-filter: drop-shadow(0px 2.75px 68px #FFEAFF);
            filter: drop-shadow(0px 2.75px 68px #FFEAFF);
  }
  .spinner__hero {
    width: 395px;
    height: 395px;
  }
  .spinner__pointer {
    width: 65px;
  }
  .spinner__section {
    width: 128px;
  }
  .spinner__btn {
    width: 130px;
    height: 130px;
    font-size: 27px;
  }
  .spinner__btn.spinned {
    font-size: 22px;
  }
}

@media screen and (max-width: 960px) {
  .spinner {
    width: 350px;
    height: 350px;
    -webkit-filter: drop-shadow(0px 2px 50px #FFEAFF);
            filter: drop-shadow(0px 2px 50px #FFEAFF);
  }
  .spinner__hero {
    width: 305px;
    height: 305px;
    margin-right: 6px;
  }
  .spinner__pointer {
    width: 50px;
  }
  .spinner__section {
    width: 100px;
    -webkit-transform: translate(-45%, 0px);
            transform: translate(-45%, 0px);
  }
  .spinner__btn {
    width: 100px;
    height: 100px;
    font-size: 21px;
  }
  .spinner__btn.spinned {
    font-size: 17px;
  }
}

@media screen and (max-width: 375px) {
  .spinner {
    width: calc( 100vw - 30px);
    height: calc( 100vw - 30px);
    -webkit-filter: drop-shadow(0px 1.6px 40px #FFEAFF);
            filter: drop-shadow(0px 1.6px 40px #FFEAFF);
  }
  .spinner__hero {
    width: calc( 100vw - 65px);
    height: calc( 100vw - 65px);
    margin-right: 4px;
  }
  .spinner__pointer {
    width: 13vw;
  }
  .spinner__section {
    width: 27vw;
  }
  .spinner__btn {
    width: 23vw;
    height: 23vw;
    font-size: 16px;
  }
  .spinner__btn.spinned {
    font-size: 13px;
  }
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.98) translate(-50%, -50%);
            transform: scale(0.98) translate(-50%, -50%);
  }
  100% {
    -webkit-transform: scale(1.02) translate(-50%, -50%);
            transform: scale(1.02) translate(-50%, -50%);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.98) translate(-50%, -50%);
            transform: scale(0.98) translate(-50%, -50%);
  }
  100% {
    -webkit-transform: scale(1.02) translate(-50%, -50%);
            transform: scale(1.02) translate(-50%, -50%);
  }
}
